@font-face {
  font-family: charter;
  src: url('../fonts/charter.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: charter;
  src: url('../fonts/charter-bd-itc-tt-bolditalic.ttf');
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: charter;
  src: url('../fonts/charter-bd-itc-tt-bold.ttf');
  font-style: normal;
  font-weight: bold;
}


:root {
  font-size: 16px;
  --gray30: #212121;
  --gray20:  #212429;
  --gray10:  #616161;

}

body{
  color: var(--gray30);
  font-family:charter;
}
a {
  color: var(--gray30);
}
h1{
  font-size: 60px;
}
header{
  font-size:  14px;
  color: var(--gray10);
}
header a{
  color: var(gray10);
  text-decoration: none;
}
header a:hover{
color: aquamarine;
}
nav details summary{
  font-weight: bold;
}
]
h2 {
  font-size: 2em;
}
h3 {
  font-size: 24px;
}